@page
@model LoginModel

@{
    ViewData["Title"] = "Вход";
}

<main>
    <div class="container">

      <section class="section register d-flex flex-column align-items-center py-4">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center">

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Войдите в Ваш аккаунт</h5>
                    <p class="text-center small">Введите e-mail и пароль для входа</p>
                  </div>

                  <form class="row g-3 needs-validation" method="post">
                  <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="col-12">
                        <label asp-for="Input.Email" class="form-label">E-mail</label>
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="col-12">
                        <label asp-for="Input.Password" class="form-label">Пароль</label>
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="пароль" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="checkbox mb-3">
                        <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        Запомнить меня?
                        </label>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary w-100" type="submit">Войти</button>
                    </div>
                    @* <div class="col-12">
                        <p class="small mb-0">Забыли свой пароль? <a id="forgot-password" asp-page="./ForgotPassword">Восстановить пароль</a></p>
                    </div> *@
                     <div class="col-12">
                        <p class="small mb-0">Нет аккаунта? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Создать аккаунт</a></p>
                    </div>
                     @* <div class="col-12">
                      <p class="small mb-0">Не пришло письмо? <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Отправить письмо</a></p>
                    </div> *@
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
